\.NEWS
\.dist
\.instdocs
\.install
\.roxy
\.source
\.testsource
\.includes
\.headers
\.tests
\.Rhistory
\.Rproj.user
rchk\.out
*.tar.gz
*.tgz
*.zip
*.o
*.so
*.gcda
*.gcno
*.pdf
*.sif
/scripts
check
lib
library
rchk
repo
wiki
www
tmp
covr.html
covr.rds
.DS_Store
