\.NEWS
\.dist
\.instdocs
\.install
\.roxy
\.source
\.testsource
\.includes
\.headers
\.tests
\.Rhistory
\.Rproj.user
*.tar.gz
*.tgz
*.zip
*.o
*.so
*.gcda
*.gcno
*.pdf
/scripts
lib
library
check
www
tmp
covr.html
covr.rds
.DS_Store
