\.NEWS
\.dist
\.instdocs
\.install
\.roxy
\.source
\.testsource
\.includes
\.headers
\.tests
\.Rhistory
\.Rproj.user
*.tar.gz
*.tgz
*.zip
*.o
*.so
*.gcda
*.gcno
tests/*.pdf
scripts
lib
library
check
www
*.pdf
inst/doc/figure
inst/doc/cache
hub_cov.R
covr.html
covr.rds
.DS_Store
