useDynLib(
          pomp,
          bspline_basis,
          bspline_basis_function,
          systematic_resampling,
          euler_model_simulator,
          euler_model_density,
          R_Euler_Multinom,
          D_Euler_Multinom
          )
importFrom(graphics,plot)
importFrom(stats,simulate,time,coef,logLik)
exportClasses('pomp','mif')
exportMethods('plot','show','time','print','show','coerce',
              'dprocess','rprocess','rmeasure','dmeasure','init.state',
              'simulate','data.array','pfilter',
              'coef','logLik',
              'pred.mean','pred.var','filter.mean','conv.rec',
              'particles','mif','continue','coef<-')
export(
       pomp,
       pfilter,
       reulermultinom,
       deulermultinom,
       euler.simulate,
       euler.density,
       sobol,
       bspline.basis,
       periodic.bspline.basis
       )
