html {
    overflow-y: scroll;
}

body {
    color: #000000;
    background: #ffffff;
    font-family: "DejaVu Sans", "Arial Sans", Arial, sans;
    width: calc(80% - 50px);
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.emph {
    color: #cc3333; 
    font-weight: bold;
}

.emph1 {
    color: #3333ff; 
    font-weight: bold;
}

.firstcharacter { 
    float: left; 
    color: #3333ff; 
    font-size: 40px;
    line-height: 30px;
    vertical-align: top;
    padding-right: 5px;
}

code {
    font-family: monospace;
    font-size: 1.125em;
}

h1, h2, h3, h4 {
    font-family: "DejaVu Sans", "Arial Sans", Arial, sans;
    font-weight: bold;
    font-variant: normal;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.375em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

p, ul, ol {
    text-align: left;
}

td {
    vertical-align: top;
}

a:link, a:visited {
    color: #0000ff;
    text-decoration: none;
}
a:hover, a:active {
    color: #cc3333;
    text-decoration: none;
}

thead {
    display: table-header-group;
}

dl, ul, ol, dd {
    page-break-before: avoid;
}

dt, dd, tr, h1, h2, h3, h4, li, p {
    page-break-inside: avoid;
}

dt, h1, h2, h3, h4 {
    page-break-after: avoid;
}

dt, dd {
    text-align: left;
}

dt {
    font-weight: bold;
}

#TOC ul li {
    list-style: none;
}

#main {
    position: absolute;
    top: 10px;
    left: 52px;
}
#content {
    text-align: left;
    position: relative;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 40px;
}

#header {
    text-align: left;
    position: relative;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#toplink {
    text-align: right;
    padding-right: 40px;
    display: none;
}

.header-section-number:after, .toc-section-number:after {
    content: ".";
}

@media print {
    #nav, #menu-icon, #menu {
	display: none;
    }
}

@media screen {

    #menu-icon {
	position: fixed;
	top: 20px;
	right: 82px;
	z-index: 10;
	display: none;
    }

    #menu {
	position: fixed;
	width: 200px;
	top: 0px;
	right: 0px;
	z-index: 20;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 20px;
	background-color: #ffffff;
	display: block;
    }

    #menu ul {
	font-weight: bold;
	list-style: none;
	margin: 0px;
	padding: 20px;
    }

    #header {
	width: calc(80% - 200px)
    }

    #content {
	width: calc(90% - 200px)
    }

}

@media screen and (max-width: 1000px) {

    #menu-icon {
	right: 5%;
	display: block;
    }

    #menu {
	top: 10px;
	right: 10px;
	display: none;
    }

    #nav:hover #menu {
	display: block;
    }

    #header, #content {
	margin-left: 0;
    }

}
