html {
    overflow-y: scroll;
}

body {
    color: #000000;
    background: #ffffff;
    font-family: "DejaVu Sans", "Arial Sans", Arial, sans;
    max-width: 800px;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.emph {
    color: #3333ff; 
    font-weight: bold;
}

.firstcharacter { 
    float: left; 
    color: #3333ff; 
    font-size: 40px; 
    line-height: 30px;
    vertical-align: top;
    padding-right: 5px;
}

code {
    font-family: monospace;
    font-size: 1.125em;
}

h1, h2, h3, h4 {
    font-family: "DejaVu Sans", "Arial Sans", Arial, sans;
    font-weight: bold;
    font-variant: normal;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.375em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}
p, ul, ol {
    text-align: left;
}
td {
    vertical-align: top;
}
a:link, a:visited {
    color: #0000ff;
    text-decoration: none;
}
a:hover, a:active {
    color: #ff3333;
    text-decoration: none;
}
thead {
    display: table-header-group;
}
dl, ul, ol, dd {
    page-break-before: avoid;
}
dt, dd, tr, h1, h2, h3, h4, li, p {
    page-break-inside: avoid;
}
dt, h1, h2, h3, h4 {
    page-break-after: avoid;
}
dt, dd {
    text-align: left;
}
dt {
    font-weight: bold;
}
#TOC ul li {
    list-style: none;
}
#header {
    text-align: right;
    position: absolute;
    width: 500px;
    left: 0px; 
    top: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#menu {
    text-align: left;
    position: absolute;
    width: 200px;
    left: 500px;
    top: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#content {
    text-align: left;
    position: absolute;
    width: 700px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    left: 0px;
    top: 200px;
}
#toplink {
    text-align: right;
    padding-right: 40px;
}

#menu ul {
    list-style: none;
}
.header-section-number:after, .toc-section-number:after {
  content: ".";
}
