---
layout: pomp
title: references to the POMP literature
---
<h2>References</h2>

<dl>
{% for rec in site.data.pubs %}

  <dd>
    {{ rec.author }} ({{ rec.year }})
    {{ rec.title }}.
{% if rec.journal != "" %}
    <i>{{ rec.journal }}</i>,
{% endif %}
{% if rec.volume != "" %}
    <b>{{ rec.volume }}</b>:
{% endif %}
{% if rec.booktitle != "" %}
    In: <i>{{ rec.booktitle }}</i>,
{% endif %}
{% if rec.editor != "" %}
    (edited by {{ rec.editor }})
{% endif %}
{% if rec.pages != "" %}
    {{ rec.pages }}
{% endif %}
  </dd>

{% endfor %}
</dl>
