---
layout: pomp
title: pomp user guides and tutorials
---
<h2><b>pomp</b> user guides and tutorials</h2>

<table cellspacing="5">
{% for doc in site.data.vignettes %}
<tr>
<td>{{ doc.title }}</td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td width="30%">
{% if doc.pdf %}<a target="_blank" href="{{ doc.pdf }}">(PDF)</a>
{% endif %}{% if doc.html %}<a target="_blank" href="{{ doc.html }}">(HTML)</a>
{% endif %}{% if doc.R %}<a type="text/html" target="_blank" href="{{ doc.R }}">(R)</a>
{% endif %}{% if doc.data %}<a href="{{ doc.data }}">(data)</a>
{% endif %}
{% endfor %}
</table>
