<ul>
  <li><a id="about" href="{{site.baseurl}}/index.html">About</a></li>
  <li><a id="install" href="{{site.baseurl}}/install.html">Installation</a></li>
  <li><a id="manual" href="{{site.baseurl}}/manual/" target="_blank">Manual</a></li>
  <li><a id="faq" href="{{site.baseurl}}/FAQ.html">FAQ</a></li>
  <li><a id="docs" href="{{site.baseurl}}/docs.html">Documentation</a></li>
  <li><a id="discussions" href="https://github.com/kingaa/pomp/discussions" target="_blank">Discussions</a></li>
  <li><a id="issues" href="https://github.com/kingaa/pomp/issues" target="_blank">Issues</a></li>
  <li><a id="source" href="https://github.com/kingaa/pomp/" target="_blank">Source</a></li>
  <li><a id="biblio" href="{{site.baseurl}}/biblio.html">Bibliography</a></li>
  <li><a id="news" href="{{site.baseurl}}/blog.html">News</a></li>
</ul>
