<ul>
  <li><a id="about" href="index.html">About</a></li>
  <li><a id="install" href="install.html">Installation</a></li>
  <li><a id="manual" href="manual/" target="_blank">Manual</a></li>
  <li><a id="faq" href="FAQ.html">FAQ</a></li>
  <li><a id="docs" href="docs.html">Documentation</a></li>
  <li><a id="discussions" href="https://github.com/kingaa/pomp/discussions" target="_blank">Discussions</a></li>
  <li><a id="issues" href="https://github.com/kingaa/pomp/issues" target="_blank">Issues</a></li>
  <li><a id="source" href="https://github.com/kingaa/pomp/" target="_blank">Source</a></li>
  <li><a id="biblio" href="biblio.html">Bibliography</a></li>
  <li><a id="news" href="blog.html">News</a></li>
</ul>
