<ul>
  <li><a id="about" href="index.html">About <strong>pomp</strong></a></li>
  <li><a id="install" href="install.html">Installation</a></li>
  <li><a id="manual" href="manual/">Manual</a></li>
  <li><a id="faq" href="FAQ.html">FAQ</a></li>
  <li><a id="docs" href="docs.html">Documentation</a></li>
  <li><a id="discussions" href="https://github.com/kingaa/pomp/discussions">Discussions</a></li>
  <li><a id="issues" href="https://github.com/kingaa/pomp/issues">Issues</a></li>
  <li><a id="source" href="https://github.com/kingaa/pomp/">Source Code</a></li>
  <li><a id="wiki" href="https://github.com/kingaa/pomp/wiki/pimp-my-pomp">Pimp my pomp</a></li>
  <li><a id="biblio" href="biblio.html">Bibliography</a></li>
  <li><a id="news" href="blog.html">News Blog</a>&nbsp;<a style="vertical-align: top;" href="https://kingaa.github.io/pomp/pomp.atom"><img style="vertical-align: top;" src="https://kingaa.github.io/images/rss.png" /></a></li>
</ul>
