html {
    overflow-y: scroll;
}

body {
    color: #000000;
    background: #ffffff;
    font-family: "DejaVu Sans", "Arial Sans", Arial, sans;
}

code {
    font-family: monospace;
    font-size: 1.125em;
}

h1, h2, h3, h4 {
    font-family: "DejaVu Sans", "Arial Sans", Arial, sans;
    font-weight: bold;
    font-variant: normal;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.375em;
}

h3 {
    font-size: 1.25em;
    text-decoration: underline;
}

h4 {
    font-size: 1.125em;
}

p, ul, ol {
    text-align: left;
}

td {
    vertical-align: top;
}

a:link, a:visited {
    color: #0000ff;
    text-decoration: none;
}
a:hover, a:active {
    color: #cc3333; 
    text-decoration: none;
}
a.activated {
    text-decoration: underline;
}

thead {
    display: table-header-group;
}

dl, ul, ol, dd {
    page-break-before: avoid;
}

dt, dd, tr, h1, h2, h3, h4, li, p {
    page-break-inside: avoid;
}

dt, h1, h2, h3, h4 {
    page-break-after: avoid;
}

dt, dd {
    text-align: left;
}

dt {
    font-weight: bold;
}

.emph {
    color: #cc3333; 
    font-weight: bold;
}

.emph1 {
    color: #3333ff; 
    font-weight: bold;
}

.firstcharacter { 
    float: left; 
    color: #3333ff; 
    font-size: 2.5em;
    line-height: 0.8em;
    vertical-align: top;
    padding-right: 5px;
}
