html {
    overflow-y: scroll;
}

body {
    color: #000000;
    background: #ffffff;
    font-family: "DejaVu Sans", "Arial Sans", Arial, sans;
    width: calc(80% - 50px);
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

code {
    font-family: monospace;
    font-size: 1.125em;
}

h1, h2, h3, h4 {
    font-family: "DejaVu Sans", "Arial Sans", Arial, sans;
    font-weight: bold;
    font-variant: normal;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.375em;
}

h3 {
    font-size: 1.25em;
    text-decoration: underline;
}

h4 {
    font-size: 1.125em;
}

p, ul, ol {
    text-align: left;
}

td {
    vertical-align: top;
}

a:link, a:visited {
    color: #0000ff;
    text-decoration: none;
}
a:hover, a:active {
    color: #cc3333; 
    text-decoration: none;
}
a.activated {
    text-decoration: underline;
}

thead {
    display: table-header-group;
}

dl, ul, ol, dd {
    page-break-before: avoid;
}

dt, dd, tr, h1, h2, h3, h4, li, p {
    page-break-inside: avoid;
}

dt, h1, h2, h3, h4 {
    page-break-after: avoid;
}

dt, dd {
    text-align: left;
}

dt {
    font-weight: bold;
}

#TOC ul li {
    list-style: none;
}

#main {
    position: absolute;
    top: 20px;
}

#content {
    text-align: left;
    top: 0px;
    left: 0px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#header {
    text-align: left;
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 40px;
    font-family: "DejaVu Sans", "Arial Sans", Arial, sans;
    font-weight: bold;
    font-variant: normal;
    font-size: 1.5em;
}

#toplink {
    text-align: right;
    padding-right: 40px;
    display: none;
}

#content {
    width: 100%;
}

#header {
    width: min(90%, 700px);
}

.header-section-number:after, .toc-section-number:after {
    content: ".";
}

@media print {
    #nav, #menu-icon, #menu {
	display: none;
    }
    #main {
	left: 180px;
	width: calc(90% - 180px)
    }
}

@media screen {

    #menu-icon {
	position: fixed;
	top: 50px;
	left: 20px;
	z-index: 10;
	display: none;
    }

    #main {
	left: 180px;
	width: min(1200px, calc(80% - 180px));
    }
    
    #menu {
	position: fixed;
	top: 30px;
	left: 10px;
	z-index: 20;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
  	background-color: #ffffff;
	display: block;
    }

    #menu ul {
	font-weight: bold;
	list-style: none;
	margin: 0px;
	padding: 0px;
    }
}

@media screen and (max-width: 500px) {

    #menu-icon {
	display: block;
    }

    #menu {
	display: none;
    }

    #nav:hover #menu {
	display: block;
        border-style: solid;
	border-radius: 10px;
        border-width: 2px;
        border-color: #3333ff;
    }

    #main {
	left: 80px;
	width: calc(90% - 80px);
    }
}

.emph {
    color: #cc3333; 
    font-weight: bold;
}

.emph1 {
    color: #3333ff; 
    font-weight: bold;
}

.firstcharacter { 
    float: left; 
    color: #3333ff; 
    font-size: 40px;
    line-height: 30px;
    vertical-align: top;
    padding-right: 5px;
}
