<hr />
<table style="padding: 5px;">
  <tr>
    <td style="vertical-align: middle;">
      <a href="http://www.nsf.gov">
	<img height="48" src="https://kingaa.github.io/images/NSF_logo.png" 
	     alt="NSF" />
      </a>
      <br />
      <a href="http://www.nceas.ucsb.edu">
	<img height="48" src="https://kingaa.github.io/images/NCEAS_logo.png" 
	     alt="NCEAS" />
      </a>
      <br />
      <a href="http://www.nih.gov">
	<img height="48" src="https://kingaa.github.io/images/NIH_logo.png" 
	     alt="NIH" />
      </a>
    </td>
    <td style="vertical-align: middle;">
      <p>
	This software has been made possible by support
	from the U.S. National Science Foundation (Grants #EF-0545276,
	#EF-0430120), by the &ldquo;Inference for Mechanistic Models&rdquo;
	Working Group supported by the National Center for Ecological Analysis
	and Synthesis (a Center funded by N.S.F. (Grant #DEB-0553768), the
	University of California, Santa Barbara, and the State of California),
	and by the RAPIDD program of the Science &amp; Technology Directorate,
	Department of Homeland Security and the Fogarty International Center,
	U.S. National Institutes of Health.
      </p>
    </td>
  </tr>
</table>
<hr />
