<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="stochastic dynamics, inference, hidden Markov model, state space model, pomp, R" />

  <title>{{ page.title }}</title>
  <link href="whitestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <table style="width: 80%; text-align: left; border-style: none; padding: 10px;">
    <tr>
      <td>
	{% include menu.html %}
      </td>
    </tr>

    <tr>
      <td>{{ content }}</td>
    </tr>

    <tr><td>&nbsp;<br />&nbsp;</td></tr>

    <tr><td><div style="text-align: right;"><a href="#top">Top&nbsp;&nbsp;&nbsp;&nbsp;</a></div></td></tr>

    <tr>
      <td>
	{% include thanks.html %}
      </td>
    </tr>

  </table>
</body>
</html>
