<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <meta name="keywords" content="stochastic dynamics, inference, hidden Markov model, state space model, pomp, R" />

  <title>{{ page.title }}</title>
  <link href="http://kingaa.github.io/whitestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <table width="80%" align="left" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <table border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td align="right" width="50%">
              <h2><span class="emph">pomp</span>:<br />
              statistical inference for<br />
              <span class="emph">p</span>artially-<span class=
              "emph">o</span>bserved&nbsp;<span class=
              "emph">M</span>arkov&nbsp;<span class=
              "emph">p</span>rocesses</h2>
            </td>
            <td align="left" width="20%">
              <ul>
                <li><a href="./index.html">About <strong>pomp</strong></a></li>

                <li><a href="./install.html">Installation</a></li>

                <li><a href="./docs.html">Documentation</a></li>

                <li><a href="http://github.com/kingaa/pomp/wiki">Wiki</a></li>

                <li><a href="http://github.com/kingaa/pomp/">Source Code</a></li>
		
                <li><a href="http://github.com/kingaa/pomp/issues">Issues</a></li>

                <li><a href="./authors.html">Authors</a></li>

                <li><a href="./biblio.html">Bibliography</a></li>

                <li><a href="./blog.html">Blog</a>&nbsp;<a style="vertical-align: top;" href="https://kingaa.github.io/pomp/pomp.atom"><img style="vertical-align: top;" src="http://kingaa.github.io/images/rss.png"></a></li>

              </ul>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>{{ content }}</td>
    </tr>

    <tr>
      <td>&nbsp;<br />
      &nbsp;</td>
    </tr>

    <tr>
      <td>
	{% include thanks.html %}
      </td>
    </tr>
  </table>
</body>
</html>
