useDynLib(			
          pomp,
          bspline_basis,
          bspline_basis_function,
          systematic_resampling,
          euler_model_simulator,
          euler_model_density,
          R_Euler_Multinom,
          D_Euler_Multinom,
          do_rprocess,
          do_dprocess,
          do_rmeasure,
          do_dmeasure,
          do_skeleton,
          do_init_state
          )

importFrom(graphics,plot)		
importFrom(stats,simulate,time,coef,logLik)

exportClasses('pomp','mif')

exportMethods(
              'plot','show','time','print','coerce',
              'dprocess','rprocess','rmeasure','dmeasure','init.state','skeleton',
              'simulate','data.array','pfilter',
              'coef','logLik',
              'pred.mean','pred.var','filter.mean','conv.rec',
              'particles','mif','continue','coef<-','states','trajectory'
              )

export(
       pomp,
       pfilter,
       reulermultinom,
       deulermultinom,
       euler.simulate,
       euler.density,
       sobol,
       bspline.basis,
       periodic.bspline.basis,
       compare.mif,
       nlf
       )
