useDynLib(			
          pomp,
          bspline_basis,
          periodic_bspline_basis,
          bspline_basis_function,
          systematic_resampling,
          euler_model_simulator,
          euler_model_density,
          SSA_simulator,
          R_Euler_Multinom,
          D_Euler_Multinom,
          pfilter_computations,
          simulation_computations,
          apply_probe_data,
          apply_probe_sim,
          probe_marginal_setup,
          probe_marginal_solve,
          probe_acf,
          probe_ccf,
          probe_nlar,
          synth_loglik,
          do_rprocess,
          do_dprocess,
          do_rmeasure,
          do_dmeasure,
          do_skeleton,
          do_init_state
          )

importFrom(graphics,plot)		
importFrom(stats,simulate,time,coef,logLik,window)
importFrom(mvtnorm,dmvnorm,rmvnorm)
importFrom(deSolve,lsoda)
importFrom(subplex,subplex)

exportClasses('pomp','mif','pmcmc','probed.pomp','probe.matched.pomp','spect.pomp','spect.matched.pomp')

exportMethods(
              'plot','show','print','coerce',
              'dprocess','rprocess','rmeasure','dmeasure','init.state','skeleton',
              'data.array','obs','coef','time','time<-','timezero','timezero<-',
              'simulate','pfilter',
              'particles','mif','continue','coef<-','states','trajectory',
              'summary','logLik','window',
              'pred.mean','pred.var','filter.mean','conv.rec',
              'bsmc',
              'pmcmc','dprior',
              'spect','probe'
              )

export(
       pomp,
       as.data.frame.pomp,
       reulermultinom,
       deulermultinom,
       euler.sim,
       discrete.time.sim,
       onestep.sim,
       onestep.dens,
       gillespie.sim,
       sobol,
       sobol.design,
       slice.design,
       profile.design,
       bspline.basis,
       periodic.bspline.basis,
       compare.mif,
       nlf,
       traj.match,
       probe.mean,
       probe.median,
       probe.var,
       probe.sd,
       probe.period,
       probe.quantile,
       probe.acf,
       probe.ccf,
       probe.nlar,
       probe.marginal,
       probe.match,
       spect.match
       )
